//* <МИКСИНЫ>===============================================================================================
   @import "mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      -webkit-font-smoothing: antialiased;
      color: black;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1170;
   // $md1: $mw + 12;
   // $md2: 991.98;
   // $md3: 767.98;
   // $md4: 479.98;

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   // @import "header.scss";
   // @import "footer.scss";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;

   padding-top: 100px;
   // &.loaded {
   // }
}
// .empty-space {
//    height: 700px;
//    width: 100%;
//    background-color: rgba(255, 255, 255, 0.89);
//    text-align: center;
//    color: #ccc;
//    border-top: 1px #ccc solid;
//    margin-top: 10px;
// }

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
body {background-color: #456c3e;}
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding-top: 40px;
   border-top: 4px solid #ccc;
}
//* <ОСНОВНОЙ БЛОК>====================================================================================================

h1 {
   font-size: 24px;

   span {
         font-size: 0;
   }
   .span0 {
      animation-name: anim0;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      @keyframes anim0 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span1 {
      animation-name: anim1;
      animation-duration: 2.1s;
      animation-fill-mode: forwards;
      @keyframes anim1 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span2 {
      animation-name: anim2;
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      @keyframes anim2 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span3 {
      animation-name: anim3;
      animation-duration: 2.3s;
      animation-fill-mode: forwards;
      @keyframes anim3 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span4 {
      animation-name: anim4;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
      @keyframes anim4 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span5 {
      animation-name: anim5;
      animation-duration: 2.6s;
      animation-fill-mode: forwards;
      @keyframes anim5 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span6 {
      animation-name: anim6;
      animation-duration: 2.7s;
      animation-fill-mode: forwards;
      @keyframes anim6 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span7 {
      animation-name: anim7;
      animation-duration: 2.8s;
      animation-fill-mode: forwards;
      @keyframes anim7 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span8 {
      animation-name: anim8;
      animation-duration: 2.9s;
      animation-fill-mode: forwards;
      @keyframes anim8 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span9 {
      animation-name: anim9;
      animation-duration: 3.2s;
      animation-fill-mode: forwards;
      @keyframes anim9 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span10 {
      animation-name: anim10;
      animation-duration: 3.3s;
      animation-fill-mode: forwards;
      @keyframes anim10 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span11 {
      animation-name: anim11;
      animation-duration: 3.4s;
      animation-fill-mode: forwards;
      @keyframes anim11 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span12 {
      animation-name: anim12;
      animation-duration: 3.4s;
      animation-fill-mode: forwards;
      @keyframes anim12 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span13 {
      animation-name: anim13;
      animation-duration: 3.6s;
      animation-fill-mode: forwards;
      @keyframes anim13 {
         0% {font-size: 0;}
         90% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   .span14 {
      animation-name: anim14;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      @keyframes anim14 {
         0% {font-size: 0;}
         80% {font-size: 0;}
         100% {font-size: 24px;}
      }
   }
   
}



//* </ДОПОЛНИТЕЛЬНЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
