body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-top: 100px;
}

body {
  background-color: #456c3e;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  border-top: 4px solid #ccc;
}

.portfolio__inner {
  background-color: #fff;
  padding: 0 20px 20px;
}

.portfolio-filter {
  width: 40%;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0;
}
.portfolio-filter__link {
  font-size: 20px;
}
.portfolio-filter__link.app {
  color: blue;
}
.portfolio-filter__link.green {
  color: green;
}
.portfolio-filter__link.red {
  color: red;
}
.portfolio-filter__link:hover {
  background-color: #9b9b9b;
}
.portfolio-filter__link.active {
  font-weight: 700;
}

.portfolio-projects {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  max-height: 460px;
  transition: max-height 0.2s linear;
}
.portfolio-projects__item {
  width: 30.333%;
  height: 100px;
  background-color: #9b9b9b;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-projects__item.app {
  color: blue;
}
.portfolio-projects__item.green {
  color: green;
}
.portfolio-projects__item.red {
  color: red;
}
.portfolio-projects__item.hide {
  display: none;
}