body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
}

.box .box__text {
  padding: 20px;
  font-size: 60px;
  color: #cebc1a;
}

.box .box__text span {
  color: #1a1a79;
  font-size: 60px;
}

.box.box--big {
  font-size: 60px;
}

.link {
  color: #1a1a79;
  text-decoration: underline;
  font-size: 60px;
}

.box .link {
  font-size: 60px;
}

.link:hover {
  text-decoration: none;
  color: #cebc1a;
}
