body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  padding-top: 100px;
}

.empty-space {
  height: 700px;
  width: 100%;
  background-color: #456c3e;
  text-align: center;
  color: #ccc;
  border-top: 1px #ccc solid;
  margin-top: 10px;
}

body {
  background-color: #456c3e;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  border-top: 4px solid #ccc;
}

.item {
  position: relative;
  background: #ccc url("../img/Penguins.jpg") center no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  cursor: pointer;
  font-size: 50px;
  color: #148500;
}

.item:hover {
  bottom: 10px;
  right: 10px;
  box-shadow: 5px 5px 5px #000;
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s linear;
}
.modal-bg.active {
  display: block;
}
.modal-bg.bg {
  background-color: rgba(0, 0, 0, 0.66);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0) scale(0);
  transition: transform 0.2s linear;
  display: block;
  opacity: 0;
  width: 800px;
  height: 800px;
  margin: 0px auto;
  padding: 30px;
  background-color: #ccc;
  border: 2px #000 solid;
}
.modal.active {
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 1;
}

.preview {
  width: 100%;
}

.content {
  text-align: center;
  padding-top: 30px;
}

img {
  width: 70%;
  margin: 0px auto;
}

button {
  font-size: 30px;
  margin-top: 30px;
  cursor: pointer;
}