body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  padding-top: 100px;
}

body {
  background-color: #456c3e;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  border-top: 4px solid #ccc;
}