@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.empty-space {
  height: 700px;
  width: 100%;
  background-color: #ccc;
  text-align: center;
  color: #ccc;
  border-top: 1px #ccc solid;
  margin-top: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-top: 40px;
  background-color: #ccc;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  border-top: 4px solid #ccc;
}

html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.form input[type=number] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}