//* <МИКСИНЫ>===============================================================================================
   @import "_mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap');

//<Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6c7279;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1200;
   // $md1: $mw + 12;
   // $md2: 991.98;
   // $md3: 767.98;
   // $md4: 479.98;

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "_null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   @import "_header";
   // @import "footer.scss";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   // &.loaded {
   // }
}
.empty-space {
   height: 700px;
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-top: 1px solid #ccc;
}

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
   // @media (max-width: $md1+px) {
   // 	max-width: 970px;
   // }
   // @media (max-width: $md2+px) {
   // 	max-width: 750px;
   // }
   // @media (max-width: $md3+px) {
   // 	max-width: none;
   // 	padding: 0 10px;
   // }
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro -------------------
.intro {
   height: 750px;
   padding-top: 100px;

	display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   background: url('../img/intro/intro-bg.jpg') #30324b center / cover no-repeat;
}
.intro-inner {
   &__title {
      font-family: 'Open Sans', sans-serif;
      font-size: 65px;
      font-weight: 700;
      color: #fff;
      line-height: 1.1;
      text-transform: uppercase;
      max-width: 970px;
   }
   &__subtitle {
      font-family: 'Raleway', sans-serif;
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      line-height: 1.5;

      margin-top: 42px;
      max-width: 970px;
   }
   &__link {
      display: inline-block;

      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;

      margin-top: 77px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      &_red {
         background-color: #e84545;
         padding: 19px 48px;
         transition: background-color .1s linear;
         &:hover {
            background-color: #be3434;
            text-decoration: none;
         }
      }
   }
}
//todo -Features ---------------
.features {
   //variables
   $featuresPadding_inner: 43px 0 123px;
   $featuresPadding_item: 73px 40px 0;

   display: flex;
   flex-wrap: wrap;
   padding: $featuresPadding_inner;
   &__item {
      width: 33.333%;
      padding: $featuresPadding_item;
      text-align: center;
   }
   &__title {
      margin-top: 34px;
      @include fontFWSC('Paleway',700,14px,#000);
      text-transform: uppercase;
   }
   &__text {
      margin-top: 27px;
      @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
   }
}
//todo -Works ---------------
.works {
   width: 100%;
   max-width: 1900px;

   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   &__item {
      position: relative;
      width: 25%;
      height: 350px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      overflow: hidden;
      background-color: #e84545;
      border-bottom: 1px #fff solid;
      border-right: 1px #fff solid;
      cursor: pointer;
      &:hover img {
         opacity: .1;
      }
   }
   &__photo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity .2s linear;
   }
   &__name {
      @include fontFWSC('Raleway',700,14px,#fff);
      text-transform: uppercase;
   }
   &__about {
      margin-top: 12px;
      @include fontFWSC('Raleway',400,14px,#fff);
   }
}
//todo -Team ---------------
.team {
   display: flex;
   flex-wrap: wrap;
   padding: 70px 0;
   margin: 0 -15px;
   &__item {
      width: 25%;
      padding: 0 15px;
      margin: 30px 0;
   }
   &__photo {
      display: block;
      width: 100%;
      height: auto;
   }
   &__name {
      @include fontFWSC('Raleway',400,22px,#2d3033);
      margin-top: 30px;
   }
   &__speciality {
      @include fontFWSC('Raleway',400,13px,#e84545);
      margin-top: 16px;
      text-transform: uppercase;
   }
   &__about {
      @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
      margin-top: 29px;
   }
}
.social {
   display: flex;
   margin-top: 30px;
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      margin-right: 4px;
      border: 1px solid #e8ecee;
      transition: background-color .12s linear;
      &:hover {
         background-color: #e8ecee;
         svg.facebook {
            fill:#418bec;
         }
         svg.twitter {
            fill:#76A9EA;
         }
         svg.linkedin {
            fill:#0077B7;
         }
      }
   }
   &__svg {
      fill: #c6cacc;
      height: 18px;
      width: 100%;
      transition: fill .12s linear;
      &.linkedin {
         max-width: 18px;
         background-color: #fff;
      }
   }
}
//todo -Reviews ---------------
$reviews-width_photo-content: 50%;
.reviews {
   width: 100%;
   max-width: 1900px;
   margin: 0px auto;
   background-color: #53354a;
   overflow: hidden;
   &__item {
      display: flex;
      flex-wrap: wrap;
   }
   &__photo {
      position: relative;

      width: $reviews-width_photo-content;
      height: 500px;
      img {
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);

         display: block;
         height: 123%;
         width: auto;
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;
      width: $reviews-width_photo-content;
   }
   &__text {
      @include fontFWSCL('Cardo',300,36px,#fff,1.16);
   }
   &__author {
      @include fontFWSC('Raleway',700,13px,#fff);
      margin-top: 30px;
      text-transform: uppercase;
   }
}
//todo -Download ---------------
.download {
   text-align: center;
   padding: 100px 0;
   &__title {
      @include fontFWSC('Raleway',300,28px,#2d3033);
   }
   &__subtitle {
      @include fontFWSC('Raleway',700,13px,#2d3033);
      margin-top: 20px;
      text-transform: uppercase;
   }
   &__link {
      display: inline-block;
      @include fontFWSC('Raleway',600,13px,#fff);
      text-transform: uppercase;
      margin-top: 40px;
      padding: 18px 80px;
      background-color: #e84545;
      transition: background-color .1s linear;
      &:hover {
         background-color: #be3434;
         text-decoration: none;
      }
   }
}
//todo -Footer ---------------
.footer {
   background-color: #3a3e64;
   padding: 70px 0px 85px 0px;
   text-align: center;
   &__inner {
      display: flex;
   }
}
.footer-location {
   width: 33.333%;
   &__title {
      @include fontFWSC('Raleway',700,14px,#fff);
      margin-bottom: 23px;
      text-transform: uppercase;
   }
   &__text {
      display: inline-block;
      max-width: 160px;

      @include fontFWSCL('Raleway',400,14px,#fff,1.6);
      font-style: normal;
      opacity: .5;
   }
}
.footer-social {
   width: 33.333%;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__title {
      @include fontFWSC('Raleway',700,14px,#fff);
      margin-bottom: 23px;
      text-transform: uppercase;
   }
   .social {
      margin-top: 0;
      &__item {
         border: 3px #fff solid;
         border-radius: 2px;
      }
      &__svg {
         fill: #fff;
         &.linkedin{
            background: none;
         }   
      }
   }
}
.footer-about {
   width: 33.333%;
   &__title {
      @include fontFWSC('Raleway',700,14px,#fff);
      margin-bottom: 23px;
      text-transform: uppercase;
   }
   &__text {
      display: inline-block;
      max-width: 360px;

      @include fontFWSCL('Raleway',400,14px,#fff,1.6);
      opacity: .5;
   }
}

.copyright {
   padding: 30px 0;
   background-color: #313454;
   text-align: center;
   p {
      display: inline-block;
      max-width: 320px;
      @include fontFWSCL('Raleway',400,14px,#808080,1.6);
      span {
         color: #fff;
         &.heart {
            color: #e84545;
         }
      }
   }
}
//* </ДОПОЛНИТЕЛЬНЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
