//* <МИКСИНЫ>===============================================================================================
   @import "_mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap');

//<Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6c7279;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1200;
   // $md1: $mw + 12;
   // $md2: 991.98;
   // $md3: 767.98;
   // $md4: 479.98;

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "_null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   @import "_header";
   // @import "footer.scss";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   // &.loaded {
   // }
}
.empty-space {
   height: 700px;
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-top: 1px solid #ccc;
}

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
   // @media (max-width: $md1+px) {
   // 	max-width: 970px;
   // }
   // @media (max-width: $md2+px) {
   // 	max-width: 750px;
   // }
   // @media (max-width: $md3+px) {
   // 	max-width: none;
   // 	padding: 0 10px;
   // }
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro
.intro {
   height: 750px;
   padding-top: 100px;

	display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   background: url('../img/intro/intro-bg.jpg') #30324b center / cover no-repeat;
}
.intro-inner {
   &__title {
      font-family: 'Open Sans', sans-serif;
      font-size: 65px;
      font-weight: 700;
      color: #fff;
      line-height: 1.1;
      text-transform: uppercase;
      max-width: 970px;
   }
   &__subtitle {
      font-family: 'Raleway', sans-serif;
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      line-height: 1.5;

      margin-top: 42px;
      max-width: 970px;
   }
   &__link {
      display: inline-block;

      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;

      margin-top: 77px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      &_red {
         background-color: #e84545;
         padding: 19px 48px;
         transition: background-color .1s linear;
         &:hover {
            background-color: #be3434;
            text-decoration: none;
         }
      }
   }
}

//todo -Features
//variables
   $featuresPadding_inner: 43px 0 123px;
   $featuresPadding_item: 73px 40px 0;

.features {
   display: flex;
   flex-wrap: wrap;
   padding: $featuresPadding_inner;
   &__item {
      width: 33.333%;
      padding: $featuresPadding_item;
      text-align: center;
   }
   &__title {
      margin-top: 34px;
      @include fontFWSC('Paleway',700,14px,#000);
      text-transform: uppercase;
   }
   &__text {
      margin-top: 27px;
      @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
   }
}

//todo -Works
.works {
   width: 100%;
   max-width: 1900px;

   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   &__item {
      position: relative;
      width: 25%;
      height: 350px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      overflow: hidden;
      background-color: #e84545;
      border-bottom: 1px #fff solid;
      border-right: 1px #fff solid;
      cursor: pointer;
      &:hover img {
         opacity: .1;
      }
   }
   &__photo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity .2s linear;
   }
   &__name {
      @include fontFWSC('Raleway',700,14px,#fff);
      text-transform: uppercase;
   }
   &__about {
      margin-top: 12px;
      @include fontFWSC('Raleway',400,14px,#fff);
   }
}

//todo -Testimonials
// $testimonials_margTop: 100px; 

.testimonials {
   // width = 1200 - (15)2 = 1170px
   display: flex;
   // justify-content: space-between;
   flex-wrap: wrap;
   padding: 70px 0;
   margin: 0 -15px;
   &__item {
      width: 25%;
      margin: 30px 0;
      padding: 0 15px;
   }
   &__photo {
      display: block;
      width: 100%;
      height: auto;
   }
   &__name {
      margin-top: 30px;
      @include fontFWSC('Raleway',400,22px,#2d3033);
   }
   &__speciality {
      @include fontFWSC('Raleway',400,13px,#e84545);
      margin-top: 14px;
      text-transform: uppercase;
   }
   &__about {
      @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
      margin-top: 30px;
   }
}
.social {
   margin-top: 20px;
   display: flex;
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #c6cacc;
      background-color: #fff;

      margin-right: 4px;
      transition: background-color .15s linear;

      &:hover {
         background-color: #c6cacc;;
         svg { 
            fill: #005aff;
         }
      }

   }
   &__svg {
      display: block;
      height: 18px;

      fill: #c6cacc;
      transition: fill .15s linear;
   }
}



//* </ДОПОЛНИТЕЛЬНЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
