/* Global
=====================================*/
	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

	body {
		margin:0;
	}


/* Container
=====================================*/
	.container {
		margin: 0 auto;
		width: 100%;
		max-width: 1100px;
	}


/* Header
=====================================*/
	.header {
		height: 60px;

		background-color: #ccc;

		border: 1px #000 solid;
	}



/* Intro
=====================================*/
	.intro-inner {
		width: 100%;
		height: 400px;
		border: 1px #000 solid;
		background-color: #8C934E;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.intro-inner table {
		width: auto;

		background-color: #5E9181;
	}

	.intro-inner table td {
		border: 1px #000 solid;
		text-align: center;
		width: initial;
		padding: 2px 10px;
	}

	.result {
		background-color: #fff;
	}

	.buttons_block {
		display: flex;
		width: 300px;
	}

	button {
		width: 33%
	}

	.button_bold.active {
		background-color: #ccc;
	}
	.button_inline.active {
		background-color: #ccc;
	}	
	.button_cursive.active {
		background-color: #ccc;
	}


	.text_block {
		display: flex;
		width: 300px;
	}
	.text_block p {
		width: 33%;
		text-align: center;
	}
	.text_bold.active {
		font-weight: bold;
	}
	.text_inline.active {
		text-decoration: underline;
	}
	.text_cursive.active {
		font-style: italic;
	}

	.show_content-box {
		width: 100%;
		text-align: center;
	}
	.show_content {
		color: black;
		text-decoration: none;
	}
	.show_content:hover {
		text-decoration: underline;
	}
	.show_content.active {
		color: #ccc;
	}
	.content.hide {
		display: block;
	}
	.content.hide {
		display: none;
	}





/* Footer
=====================================*/
	.footer {
		height: 60px;
		border: 1px #000 solid;
		background-color: #ccc
	}




