/* Global
=======================================*/
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	body {
		font-family: 'Roboto', sans-serif;
		margin: 0 auto;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0px;
		width: auto;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

/* Container
=======================================*/
	.container {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;

	}

/* Header
=======================================*/
	.header {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		width: 100%;

		padding: 27px 10px 0;
	}

	.logo-text {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #fff
	}

	.nav_link {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;

		padding-bottom: 10px;
		margin-left: 50px;

		transition: all .1s linear;
	}

	.nav_link:first-child {
		margin-left: 0px;
	}

	.nav_link:hover {
		color: #fce38a;
		border-bottom: 3px #fce38a solid;
	}

	.header-nav_link-icon {
		fill: #fff;
		width: 20px;
		height: 14px;
	}

	.nav_link:hover .header-nav_link-icon {
		fill: #fce38a;
	}

	/*nav600px*/

	.nav600px {
		display: none;
	}

	.header-nav600px_link-icon {
		width: 30px;
		height: 30px;

		fill: #fff;
	}

/* Intro
=======================================*/
	/* Intro */
	.intro {
		background: #f59283 url("img/bg1_header.png") no-repeat center;
		background-size: cover;
		height: auto;
	}

	.intro-bg2 {
		background-image: url("img/bg2_header-intro.png");
		background-size: cover;
	}

	.intro-inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100vh;
	}

	.intro__header {
		padding-top: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.intro-suptitle {
		font-family: 'Kaushan Script', cursive;
		font-size: 72px;
		font-weight: 400;
		color: #fff;

		padding-top: 70px;

		transition: all .1s linear;
	}

	.intro-title {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-size: 150px;
		font-weight: 700;
		color: #fff;
		line-height: 0.93;
		text-transform: uppercase;

		transition: all .1s linear;

		margin-top: 60px;
	}

	.intro_line {
		color: transparent;
		background-color: #fff;
		width: 60px;
		height: 3px;
		margin-top: 70px;

		transition: all .1s linear;
	}

	.intro-buttom {
		border: 3px #fff solid;
		padding: 13px 32px;
		cursor: pointer;

		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 50px;
		transition: all .1s linear;
	}

	.intro-buttom:hover {
		background-color: #fff;
		color: #000
	}

	.slider {
		width: 100%;
		height: auto;
	}

	.slider-inner {
		
		display: flex;
		justify-content: space-between;

		width: 100%;
		height: auto;

		padding: 0 10px 10px;
	}

	.slider_item {
		border-top: 3px #fff solid;

		width: 24%;
		height: 100%;

		padding-top: 7px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;

		opacity: .70;

		position: relative;
	}



	.slider_item.active {
		opacity: 1;
	}

	.slider_item.active:before {
		content: "";
		display: block;
		width: 30%;
		height: 3px;

		position: absolute;
		top: -3px;
		left: 0;
		z-index: 1;

		background-color: #f38181;
	}

	.slider_num {
		font-size: 24px;
		font-weight: 700;
	    margin-top: 10px;
	}

/* Story About As
=======================================*/
	.sau {
		width: 100%;
		height: auto;
	}

	.sau-inner {
		display: flex;
		align-items:center;
		flex-direction: column;
	}

	.sau-header {
		height: auto;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sau-header__suptitle {
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		color: #000;
		font-weight: 400;

		margin-top: 90px;
	}

	.sau-header__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #000;
		text-transform: uppercase;

		margin-top: 22px;
	}

	.sau-header__line {
		color: transparent;

		background-color: #f38181;

		width: 60px;
		height: 3px;

		margin-top: 40px;
	}

	.sau-content {
		hyphens: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sau-text {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		line-height: 1.62;

		max-width: 960px;

		margin-top: 45px;
	}

	.sau-pics {
		width: 100%;
		height: auto;
		
		margin: 20px -10px 100px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.pics__item {
		position: relative;
	
		background-color: #95e1d3;

		margin-top: 50px;

		width: 380px;
		height: auto;
	}

	.pics__img {
		background: linear-gradient(to bottom, #f38181,#fce38a);

		width: 100%;
		height: auto;
		
		transition: transform .2s linear;
	}

	.pics__img img {
		display: block;
		opacity: 1;
		transition: opacity .2s linear;
	}

	.pics__item:hover .pics__img {
		transform: translate3d(-10px, -10px, 0);
	}

	.pics__item:hover .pics__img img {
		opacity: .1;
	}

	.pics-users {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 30;

		width: 100%;
		height: 100%;
		
		opacity: 0;

		transition: all .2s linear;
	}

	.pics__item:hover .pics-users{
		transform: translate3d(-10px, -10px, 0);
		opacity: 1;
	}

	.users__icon {
		width: 32px;
		height: 23px;
	}

	.users__icon-svg {
		width: 32px;
		height: 23px;
	}

	.users__name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
		margin-top: 11px;
		
	}

/* Rectangle (rect)
=======================================*/
	.rect {
		width: 100%;
		background-color: #95e1d3;
	}

	.rect-inner {
		width: 100%;
		height: auto;

		display: flex;
	}

	.rect__item {
		width: 20%;
		padding-top: 80px;
		padding-bottom: 80px;

		border-right: 1px #fff solid;
	}

	.rect__item:first-child {
		border-left: 1px #fff solid;
	}

	.rect__num {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 72px;
		color: #fff;
		text-transform: uppercase;
	}

	.rect__text {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;

		margin-top: 10px;
	}

/* Amazing Services (amser)
=======================================*/
	.amser {
		width: 100%;
		height: auto;
	}

	.amser-inner {
		width: 100%;
		height: auto;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.amser-header {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.amser-header__suptitle {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #000;

		margin-top: 90px;
	}

	.amser-header__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #000;
		text-transform: uppercase;

		margin-top: 23px;
	}

	.amser-header__line {
		background-color: #f38181;
		width: 69px;
		height: 3px;
		margin-top: 40px;
		color: transparent;
	}

	.amser-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 65px;
		margin-bottom: 45px;
	}

	.amser__oneitem {
		display: flex;
		width: 33.33333%;

		margin-bottom: 25px;

		height: auto;
	}

	.amser__line {
		background: #e5e5e5;
		height: 1px;
		width: 100%;
		color: transparent;

		margin: 0 0 25px 0; 
	
	}

	.amser__img {
		width: 32px;
		height: 31px;
		margin-left: 30px;
		margin-top: 5px;
	}

	.amser__text {
		margin-left: 25px;
	}

	.amser__text-h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		color: #000;

	}

	.amser__text-p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		margin-top: 17px;
	}

/* Unique design (undes)
=======================================*/
	.undes {
		width: 100%;
		height: auto;

		background: #d9d9d9 url(img/undes/undes-bg.png) center no-repeat;
		background-size: cover;
	}

	.undes-header {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;		
	}

	.undes-header__suptitle {
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		font-weight: 400;
		color: #333;
		margin-bottom: 24px;
		margin-top: 90px;
	}

	.undes-header__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.undes-header__line {
		background-color: #f38181;
		width: 60px;
		height: 3px;
		
		color: transparent;
	}

	.undes-content {
	    width: 100%;
	    max-width: 640px;
	    height: auto;
	    margin: 30px auto 0;
	    padding: 0 60px 0 40px;
	    position: relative;
	}

	.undes-content__ipad {
	    position: static;
	    width: 100%;
	    max-width: 477px;
	    height: auto;
	}

	.undes-content__ipad img {
		width: 100%;
		display: block;
	}

	.undes-content__ios {
		position: absolute;
	    bottom: -10%;
	    left: 50%;
	    z-index: 2;

		opacity: 1;

	    display: flex;
	    flex-direction: column-reverse;
	   
	    height: 100%;
	    max-height: 580px;

	    padding-top: 22%;

	}

	.undes-content__ios img {
		display: block;
    	height: 100%;
	}

/* What We Do
=======================================*/
	.what {
		width: 100%;
		height: auto;
	}

	.what-inner {
		height: auto;

		padding-bottom:100px; 
	}

	.what-header {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.what-header__suptitle {
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		font-weight: 400;
		color: #333;
		margin-top: 110px;
	}

	.what-header__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
		margin-top: 25px;
	}

	.what-header__line {
		background-color: #f38181;
		width: 60px;
		height: 3px;
		margin-top: 40px;
		color: transparent;
	}

	.what-content {
		width: 100%;
		height: auto;
	}

	.what__text {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		line-height: 1.62;

		margin: 46px auto 0px;
		
		max-width: 955px;
	}

	.wc-items {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		padding-top: 60px;

		}

	.wc__item {
		width: 100%;
		max-width: 100%;
	    max-width: 590px;
	    height: 100%;
	    max-height: 380px;
		
		margin: 20px 5px 0;
	}

	.wc__item img {
		width: 100%;
		display: block;
	}

	.accordion-item {
		width: 100%;
		max-width: 600px;
	    height: 100%;
	    max-height: 380px;
	
		margin-bottom: 7px;

	    border: 1px #e5e5e5 solid;
	}

	.accord__header {
		width: 100%;
		max-width: 600px;
		height: 60px;

		display: flex;
		align-items: center;

		border-bottom: 0px #e5e5e5 solid;

		position: relative;

		cursor: pointer;
	}

	.accord__header svg {
		fill: #95e1d3;
		width: 32px;
		height: 32px;

		margin: 0 15px 0 15px;
	}

	.accord__header-text {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}

	.accord__header-arrow {
		border-left: 3px #cccccc solid;
		border-top: 3px #cccccc solid;

		font-size: 0;
		color: transparent;

		width: 16px;
		height: 16px;

		position: absolute;
		right: 20px;

		transform: rotateZ(45deg);

		transition: transform .1s linear;
	}

	.accord__content {
		display: none;
		width: 100%;
		max-width: 600px;
		height: 180px;

		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.625;
		color: #999;

		overflow: auto;

		padding: 20px;
	}

	.accordion-item.active .accord__content {
		display: block;
	}

	.accordion-item.active .accord__header-arrow {
		transform: rotateZ(-135deg)
	}

	.accordion-item.active .accord__header {
		border-bottom: 1px #e5e5e5 solid;
	}

/* Quote 
=======================================*/
	.quote {
		width: 100%;
		height: auto;

		background-color: #f8f8f8;

		padding: 3% 10px;
	}

	.quote-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 40px;
    	position: relative;
	}

	.quote__arrow-left {
		fill: #cccccc;
		
		width: 100%;
		max-width: 14px;
		height: 22px;

		cursor: pointer;
		transition: all .1s linear;

		position: absolute;
		left: 0;
		top: 50%;
	}

	.quote__arrow-left svg {
		width: 100%;
		height: 100%;
	}

	.quote__arrow-left:hover {
		fill: #838383;
	}


	.quote__arrow-left:active {
		fill: #cccccc;
		transform: translateX(-3px);

	}

	.quote__img {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 150px;
		min-width: 150px;
		height: 150px;

		border: 2px solid #95e1d3;

		margin-right: 2%;
		padding: 3.5%;
	}

	.quote__img img {
		display: block;

	}

	.quote__text {
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-weight: 300;
		font-size: 24px;
		color: #999999;
		line-height: 1.66;

	}

	.quote__line-name {
		display: flex;
		align-items: center;
		padding-top: 2%;
	}

	.quote__name {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #333333;
		margin-left: 10px;
	}

	.quote__line {
		background-color: #f38181;
		color: transparent;

		width: 60px;
		height: 3px;

	}

	.quote__arrow-right {
		fill: #cccccc;
		
		width: 100%;
		max-width: 14px;
		height: 22px;

		cursor: pointer;
		transition: all .1s linear;

		position: absolute;
		right: 0;
		top: 50%;
	}

	.quote__arrow-right svg {
		width: 100%;
		height: 100%;
	}

	.quote__arrow-right:hover {
		fill: #838383;
	}


	.quote__arrow-right:active {
		fill: #cccccc;
		transform: translateX(3px);

	}

/* Meet
=======================================*/
	.meet {
		width: 100%;
		height: auto;
	}
	
	.meet-inner {
		display: flex;
		align-items:center;
		flex-direction: column;
		height: auto;

		padding: 0 10px 40px;
	}

	.meet-header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.meet-header__suptitle {
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		color: #000;
		font-weight: 400;

		margin-top: 90px;
	}

	.meet-header__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #000;
		text-transform: uppercase;

		margin-top: 22px;
	}

	.meet-header__line {
		color: transparent;

		background-color: #f38181;

		width: 60px;
		height: 3px;

		margin-top: 40px;
	}

	.meet-text {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		line-height: 1.62;

		max-width: 960px;

		margin-top: 45px;
	}

	.meet-items {
		width: 100%;
		height: auto;
		margin-top: 90px;

		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

	}

	.meet__item {
		height: auto;
		width: 100%;
		max-width: 380px;
	}

	.meet-item-inner {
		background-color: #95e1d3;
		width: 100%;
		max-width: 380px;
		height: auto;
		max-height: 470px;
		position: relative;
	}

	.mi__img {
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, #f38181,#fce38a);

		transition: all .2s linear;
		overflow: hidden;
	}

	.mi__img img {
		display: block;
		width: 100%;
		transition: all .2s linear;
	}

	.meet__item:hover .mi__img{
		transform: translate3d(-10px, -10px, 0);
	}

	.meet__item:hover .mi__img img {
		opacity: .1;
	}

	.mi-social {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;
		
		opacity: 0;
		
		transition: all .2s;
	}

	.meet__item:hover .mi-social{
		top: -10px;
		left: -10px;
		opacity: 1;
	}

	.mi-social__link {
		width: 55px;
		height: 55px;

		margin-right: 2px;
		background-color: #fce38a;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: all .1s linear;

	}

	.mi-social__link svg {
		height: 27px;
		width: 55px;
		fill: #f38181;

		transition: all .1s linear;
	}

	.mi-social__link:hover {
		background-color: #f38181;
		width: 55px;
		height: 55px;
	}

	.mi-social__link:hover svg {
		fill: #fff;
	}

	.meet-about {
		width: auto;
		height: auto;

		display: flex;
		flex-direction: column;
		align-items: center;


		padding: 30px 0 40px 0;
	}

	.meet-about__name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #333;
		text-transform: uppercase;

	}
	.meet-about__special {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 15px;
		color: #999;

		margin-top: 15px;

	}

/* Logos
=======================================*/
	.logos {
		background-color: #f8f8f8;
		height: auto;
	}

	.logos-inner {
		padding: 50px 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}

	.logos__img {
		height: 100%;
	}

/* Works
=======================================*/
	.works {
		display: flex;
		justify-content: center;
		
		background-color: #fff;
	}

	.works-inner {
		display: flex;
		flex-direction: column;

		width: 100%;
		max-width: 1920px;
		height: auto;

		margin: 0 auto;
	}

	.works__header {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 110px;
	}

	.works__header-suptitle {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #333333;

	}

	.works__header-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #333333;
		text-transform: uppercase;

		margin-top: 25px;
	}

	.works__header-line {
		background-color: #f38181;

		width: 60px;
		height: 3px;

		margin-top: 43px;

		color: transparent;
	}

	.works__content {
		background-color: #fff;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		margin-top: 110px;
	}

	.works__col {
		width: 25%;
		height: auto;

		display: flex;
		flex-direction: column;
	}

	.works__item {
		width: 100%;
		height: 50%;
		background: linear-gradient(to bottom, #f38181,#fce38a);
		position: relative;
		overflow: hidden;
	}

	.works__item-spec {
		height: 100%;
	}

	.works__img {
		display: block;
		width: 100%;
		position: relative;
		top: 0;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);

		transition: opacity .2s linear;
	}

	.works__item:hover .works__img {
		opacity: .2;
	}

	.works__info {

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		opacity: 0;

		width: 100%;
		height: 100%;

		transition: opacity .2s linear;
	}

	.works__info-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;

		margin-top: 20px;
	}

	.works__info-subtitle {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 15px;
		color: #fff;

		margin-top: 15px;
	}


	.works__item:hover .works__info {
		opacity: 1;
	}

/* Testimonial (testimon) (slider)
=======================================*/
	.testimon {
		width: 100%;
		height: auto;

		background-color: #f8f8f8;

		padding: 3% 10px;
	}

	.testimon-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 40px;
    	position: relative;
	}

	.testimon__arrow-left {
		fill: #cccccc;
		
		width: 100%;
		max-width: 14px;
		height: 22px;

		cursor: pointer;
		transition: all .1s linear;

		position: absolute;
		left: 0;
		top: 50%;
	}

	.testimon__arrow-left svg {
		width: 100%;
		height: 100%;
	}

	.testimon__arrow-left:hover {
		fill: #838383;
	}


	.testimon__arrow-left:active {
		fill: #cccccc;
		transform: translateX(-3px);

	}

	.testimon__img {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 210px;
		min-width: 210px;
		height: 210px;

		margin-right: 2%;
	}

	.testimon__img img {
		display: block;
		width: 100%;

	}

	.testimon__text {
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-weight: 300;
		font-size: 24px;
		color: #999999;
		line-height: 1.66;

	}

	.testimon__line-name {
		display: flex;
		align-items: center;
		padding-top: 2%;
	}

	.testimon__name {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #333333;
		margin-left: 10px;
	}

	.testimon__line {
		background-color: #f38181;
		color: transparent;

		width: 60px;
		height: 3px;

	}

	.testimon__arrow-right {
		fill: #cccccc;
		
		width: 100%;
		max-width: 14px;
		height: 22px;
		
		cursor: pointer;
		transition: all .1s linear;

		position: absolute;
		right: 0;
		top: 50%;
	}

	.testimon__arrow-right svg {
		width: 100%;
		height: 100%;
	}

	.testimon__arrow-right:hover {
		fill: #838383;
	}


	.testimon__arrow-right:active {
		fill: #cccccc;
		transform: translateX(3px);

	}
	
/* What people say (whatps)
=======================================*/
	.whatps {
		height: auto;
		width: 100%;

		background: #d9d9d9 url(img/whatps/bg.png) center no-repeat;
		background-size: cover;
	}

	.whatps-inner {

	}

	.whatps__header {
		width: 100%;
		height: 225px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	.whatps__header-suptitle {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #333333;
	}

	.whatps__header-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #333333;

		text-transform: uppercase;
		margin-top: 25px;
	}

	.whatps__header-line {
		background-color: #f38181;
		width: 60px;
		height: 3px;

		color: transparent;

		margin-top: 40px;
	}

	.whatps__content {
		width: 100%;
		height: auto;

		display: flex;
		flex-wrap: wrap;
		
		padding: 80px 0 80px;
	}

	 .whatps__item {
		width: 50%;
		height: 50%;

		display: flex;

		padding-left: 3%;
		padding-bottom: 40px;
	}

	.wi__img img {
		max-width: 110px;
		width: 100%;
	}

	.wi__content {
		height: 100%;

		display: flex;
		flex-direction: column;

		padding-left: 4%;

	}

	
	.wi__c-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #333333;

		text-transform: uppercase;
		margin-top: 17px;
	}

	.wi__c-subtitle {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 15px;
		color: #333333;

		margin-top: 17px;
	}

	.wi__c-line {
		background-color: #f38181;
		width: 60px;
		height: 3px;

		color: transparent;

		margin-top: 20px;
	}

	.wi__c-text {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		line-height: 1.62;

		max-width: 370px;

		margin-top: 25px;
	}

/* Blog
=======================================*/
	.blog {
		width: 100%;
		height: auto;
	}

	.blog__header {
		width: 100%;
		height: 225px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	.blog__header-suptitle {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 24px;
		color: #333333;
	}

	.blog__header-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #333333;

		text-transform: uppercase;
		margin-top: 25px;
	}

	.blog__header-line {
		background-color: #f38181;
		width: 60px;
		height: 3px;

		color: transparent;

		margin-top: 40px;
	}

	.blog__content {
		width: 100%;
		height: auto;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding: 0 10px 80px;
	}

	.blog__item {
		width: 33%;
		
		display: flex;
		flex-direction: column;
	
		padding-top: 60px;
	}

	.bi__img {
		width: auto;
		height: auto;
		position: relative;

	}

	.bi__photo {
		width: 100%;
		max-width: 380px;

	}

	.bi__img-calendar {
		width: 60px;
		height: 70px;

		background-color: #95e1d3;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		position: absolute;
		bottom: 10px;
		left: -10px;
		z-index: 2;
	}

	.bi__img-calendar_nam {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 30px;
		color: #fff;
	}


	.bi__img-calendar_name {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 15px;
		color: #fff;
	}

	.bi__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;

		margin-top: 20px;
	}

	.bi__text {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;

		height: 60px;

		margin-top: 18px;
		padding: 0 30px 23px 0;
		
		border-bottom: 1px #999999 solid;
	}

	.bi__info {
		height: 20px;
		width: 100%;

		margin-top: 20px;

		display: flex;
	}

	.bi__i-item {
		margin-left: 20px;

		display: flex;
	}


	.bi__i-item:first-child {
		margin-left: 0;
	}

	.bi__i-icon {
		width: 20px;
		height: 12px;

	}

	.bi__i-icon-svg {
		max-width: 20px;
		height: 19px;

		padding-top: 3px;

		fill: #95e1d3;
	}

	.bi__i-num {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 15px;
		color: #999999;

		margin-left: 7px;
	}

/* Open map
=======================================*/
	.openmap {
		background: #d9d9d9 url(img/openmap/bg.png) center no-repeat;
		background-size: cover;
	}

	.openmap-inner {
		width: 100%;
		height: 200px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.openmap__icon {
		width: 22px;
		height: 30px;
	}

	.openmap__svg {
		fill: #f38181;

		max-width: 22px;
		max-height: 30px;
	}

	.openmap__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 24px;
		color: #f38181;
		text-transform: uppercase;	

		margin-top: 18px;

		transition: color .1s linear;
	}

	.openmap__title:hover {
		color: #e53030;
	}

	.openmap__line {
		background-color: #f38181;

		width: 60px;
		height: 3px;

		margin-top: 22px;

		color: transparent;
	}

/* Footer
=======================================*/
	.footer {
		width: 100%;
		height: auto;

		background-color: #f8f8f8;
	}

	.footer-inner {
		width: 100%;
		height: auto;

		display: flex;
		justify-content: space-between;

		padding-bottom: 50px;
	}

	.footer__mogo {
		max-width: 480px;
		padding: 75px 10px 0;

		height: auto;
	}

	.fm__logo {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 46px;
		color: #cccccc;

	}

	.fm__text {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		line-height: 1.625;

		margin-top: 40px;
	}

	.fm__followers {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #999999;
		line-height: 1.625;

		margin-top: 40px;
	}

	.fm__followers-span {
		font-weight: 700; 
		font-size: 18px; 
		color: #333333;
	}

	.fm__line {
		width: 100%;
		height: 1px;

		margin-top: 19px;

		background-color: #e5e5e5;

		color: transparent;
	}

	.fm__followus {
		height: 20px;

		display: flex;
		align-items: center;

		margin-top: 18px;
	}

	.fm__followus-text {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 15px;
		color: #999999;
	}

	.fm__social {
		margin-left: 23px;
		
		width: auto;
		height: 20px;

		display: flex;
	}

	.fm__social-link {
		margin-left: 18px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.fm__social-link:hover .fm__social-svg {
		fill: #65c3b2;
	}

	.fm__social-link:first-child {
		margin-left: 0;
	}

	.fm__social-svg {
		fill: #95e1d3;

		max-width: 18px;
		max-height: 20px;

	}

	.fm__subscribe {
		margin-top: 40px;
		width: auto;
		height: auto;
	}

	.fm__form {
		display: flex;
	}

	.fm__form-text {
		height: 40px;

		border: 1px #e7e7e7 solid;

		padding-left: 10px;

		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 15px;
		color: #cccccc;
	}

	.fm__form-submit {
		height: 40px;
		width: 150px;

		color: #fff;
		text-transform: uppercase;

		background-color: #95e1d3;

		border: 0px;

		cursor: pointer;
	}

	.fm__form-submit:hover {
		background-color: #65c3b2;

	}

	.footer__blogs {
		height: auto;
		max-width: 350px;

		padding-top: 80px;

	}

	.fb__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;

		margin-bottom: 12px;

	}

	.fb__item {
		max-width: 350px;
		margin-top: 30px;
		display: flex;
	}

	.fb_photo {

	}

	.fb__textbox {
		display: flex;
		flex-direction: column;

		padding-left: 10px;

	}

	.fb__textbox-title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 12px;
		color: #333333;
		text-transform: uppercase;

	}

	.fb__textbox-title:hover {
		text-decoration: underline;
	}

	.fb__textbox-text {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 13px;
		color: #999999;

		margin-top: 12px;
	}

	.footer__instagramm {
		max-width: 270px;

		padding-top: 80px;
	}

	.fi__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #333333;
		text-transform: uppercase;

		margin-bottom: 12px;
	}

	.fi__photobox {
		width: auto;
		height: auto;

		display: flex;
		flex-wrap: wrap;

		margin-top: 40px;
	}

	.fi__photobox-img {
		border-right: 2px #fff solid;
		border-bottom: 2px #fff solid;
	}

	.fi__text {
		display: block;
		margin-top: 20px;
	}

	.fi__text-link-767px {
		display: none;
		height: 20px;
		margin: 38px 0 0 20px;
	}

	.fi__text-link-767px:hover {
		color: red;
	}

	.fi__text-link {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 13px;
		color: #333333;

	}

	.fi__text:hover .fi__text-link {
		color: red;
	}


	/* subfooter
	-----------------------------*/
	.subfooter {
		height: auto;
		width: 100%;

		background-color: #f8f8f8;

		border-top: 1px #e5e5e5 solid;

	}

	.subfooter-inner {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 60px;
	}

	.fi__photobox-img {

	}

	.sfi__text {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #333333;
	}

	.intro_line {
	    margin-top: 50px;
	}





/* MEDIA 768px height
=======================================*/
	@media (max-height: 768px) {
	
	/* intro */
	.nav_link {
    	margin-left: 40px;
	}
	
	.intro-suptitle {
		padding-top: 40px;
	    font-size: 52px;
	}

	.intro-title {
		margin-top: 30px;
	    font-size: 140px;
	}

	}/* end media: 1200px */

/* MEDIA 600px height
=======================================*/
	@media (max-height: 768px) {

	/* header */
	.nav_link {
	    margin-left: 30px;
	}

	/* intro */
	.intro-suptitle {
	    padding-top: 50px;
	    font-size: 42px;
	}

	.intro-title {
	    margin-top: 20px;
	    font-size: 100px;
	}

	.intro_line {
	    margin-top: 25px;
	}

	.intro-buttom {
	    padding: 12px 35px;
	    font-size: 12px;
	    margin-top: 35px;
	}

	}


	
/* MEDIA 1024px
=======================================*/
	@media (max-width: 1025px) {
		
	/* Header */
	.nav_link {
	    margin-left: 30px;
	}

	/* Intro */
	.intro-suptitle {
	    font-size: 62px;
	    padding-top: 50px;
	}

	.intro-title {
	    font-size: 120px;
	    margin-top: 30px;
	}

	.intro_line {
   		margin-top: 40px;
	}

	.intro-buttom {
	    margin-top: 45px;
	}

	/* sau */
	.sau-header__suptitle {
	    margin-top: 60px;
	}

	.sau-pics {
	    margin: 0px -10px 60px;
	}

	.pics__item {
	    margin-top: 40px;
	}

	/* rect */

	.rect__item {
	    padding-top: 40px;
	    padding-bottom: 50px;
	}

	.rect__text {
	    font-size: 14px;
	}

	/* amser */
	.amser-header__suptitle {
	    margin-top: 60px;
	}


	/* undes */
	.under-header__suptitle {
	    margin-top: 60px;
	}

	/* what */
	.what-inner {
	    padding-bottom: 60px;
	}

	.what-header__suptitle {
	    margin-top: 90px;
	}

	/* quote */

	/* meet */
	.meet-inner {
    	padding: 0 10px 0px;
	}

	.meet-header__suptitle {
	    margin-top: 60px;
	}

	.meet-items {
	    margin-top: 50px;
	}

	/* works */
	.works__header {
	    margin-top: 60px;
	}

	.works__content {
	    margin-top: 60px;
	}

	/* testimon */
	.testimon__img {
	    width: 170px;
	    min-width: 170px;
	    height: 170px;
	}

	/* whatps */
	.whatps__content {
	    padding: 60px 0 10px;
	}

	.whatps__header {
	    height: 200px;
	}
	
	/* blogs */
	.blog__content {
	    padding: 0 10px 30px;
	}

	.blog__header {
	    height: 200px;
	}

	.blog__item {
	    padding-top: 40px;
	}

	.bi__info {
	    margin-top: 7px;
	}

	/* openmap */
	.openmap-inner {
	    height: 160px;
	}

	/* footer */
	.footer__mogo {
	    padding: 45px 10px 0;
	}

	.fm__text {
	    margin-top: 10px;
	}

	.fm__followers {
    	margin-top: 15px;
	}
	
	.fm__line {
	    margin-top: 13px;
	}

	.fm__followus {
	    margin-top: 15px;
	}

	.fm__subscribe {
	    margin-top: 30px;
	}

	.footer__blogs {
	    padding-top: 50px;
	}

	.footer__instagramm {
	    padding-top: 50px;
	}

	.fi__photobox {
	    margin-top: 30px;
	}

	}/* end media: 1024px */

/* MEDIA 820px
=======================================*/
	@media (max-width: 820px) {
		
	/* Header */
	.nav_link {
	    margin-left: 20px;
	}
	
	/* Intro */
	.intro-suptitle {
		font-size: 58px;
	    padding-top: 40px;
	}

	.intro-title {
	    font-size: 100px;
	    margin-top: 20px;
	}

	.intro-buttom {
	    padding: 11px 32px
	}

	/* sau */
	.sau-header__suptitle {
	    margin-top: 30px;
	}

	.sau-header__title {
	    margin-top: 15px;
	}

	.sau-header__line {
	    margin-top: 25px;
	}

	.sau-text {
	    margin-top: 35px;
	}

	.sau-pics {
	    margin: 0px -10px 45px;
	}

	/* rect */
	.rect__item {
	    padding-top: 30px;
	    padding-bottom: 40px;
	}

	.rect__num {
	    font-size: 60px;
	}

	/* amser */
	.amser-header__suptitle {
	    margin-top: 30px;
	}

	.amser-header__title {
	    margin-top: 15px;
	}

	.amser-header__line {
	    margin-top: 25px;
	}

	.amser-content {
	    margin-top: 35px;
	    margin-bottom: 20px;
	}

	.amser__oneitem {
	    margin-bottom: 20px;
	}

	.amser__img {
	    margin-left: 20px;
	}

	.amser__text {
	    margin-left: 15px;
	}

	.amser__text-p {
	    margin-top: 10px;
	}

	.amser__line {
	    margin: 0px 0 20px 0;
	}

	/* undes */
	.undes-header__suptitle {
	    margin-top: 30px;
	    margin-bottom: 0px;
	}

	.undes-header__title {
	    margin-top: 15px;
	    margin-bottom: 0;
	}

	.undes-header__line {
	    margin-top: 25px;
	}

	/* what */
	.what-inner {
	    padding-bottom: 45px;
	}

	.header__suptitle {
	    margin-top: 80px;
	}

	.what-header__title {
	    margin-top: 15px;
	}

	.what-header__line {
	    margin-top: 25px;
	}

	.wc-items {
	    padding-top: 20px;
	}

	/* quote */
	.quote__text {
		font-size: 21px;
	}

	/* meet */
	.meet-header__suptitle {
	    margin-top: 30px;
	}

	.meet-header__title {
	    margin-top: 15px;
	}

	.meet-header__line {
	    margin-top: 25px;
	}

	.meet-text {
	    margin-top: 30px;
	}

	.meet-items {
	    margin-top: 30px;
	}

	.meet-about {
	    padding: 10px 0 30px 0;
	}

	.meet-about__special {
	    margin-top: 5px;
	}

	/* Logos */
	.logos-inner {
    	padding: 30px 0px;
    }

	/* works */
	.works__header {
	    margin-top: 0;
	}

	.works__header-suptitle {
	    margin-top: 30px;
	}

	.works__header-title {
	    margin-top: 15px;
	}

	.works__header-line {
	    margin-top: 25px;
	}

	.works__content {
	    margin-top: 40px;
	}

	.works__col {
	    width: 50%;
	}

	/* testimon */
	.testimon__img {
	    width: 150px;
	    min-width: 150px;
	    height: 150px;
	}

	.testimon__text {
		font-size: 21px;
	}

	/* whatps */
	.whatps__header {
	    height: auto;
	}

	.whatps__header-suptitle {
	    margin-top: 30px;
	}

	.whatps__header-title {
	    margin-top: 15px;
	}

	.whatps__header-line {
	    margin-top: 25px;
	}

	.whatps__content {
	    padding: 35px 0 10px;
	}

	.wi__content {
	    padding-left: 2%;
	}

	.wi__c-subtitle {
	    margin-top: 10px;
	}

	.wi__c-line {
	    margin-top: 14px;
	}

	.whatps__item {
	    padding-left: 2%;
	    padding-bottom: 25px;
	}

	.wi__c-text {
	    margin-top: 13px;
	}

	/* blog */
	.blog__header {
	    height: auto;
	}

	.blog__header-suptitle {
	    margin-top: 30px;
	}

	.blog__header-title {
	    margin-top: 15px;
	}

	.blog__header-line {
	    margin-top: 25px;
	}

	.blog__content {
	    padding: 0 10px 20px;
	}

	.bi__title {
	    font-size: 12px;
	    margin-top: 7px;
	}
	
	.bi__text {
	    font-size: 15px;
	    height: 80px;
	    margin-top: 18px;
	}

	/* openmap */
	.openmap-inner {
	    height: 140px;
	}

	/* footer */
	.footer-inner {
	    flex-wrap: wrap;
	    padding-bottom: 10px;
	}

	.footer__mogo {
		width: 57%;
		max-width: none;
	    padding: 20px 10px 0;
	}

	.footer__blogs {
		width: 43%;
		max-width: none;
	    padding-top: 30px;
	}

	.footer__instagramm {
		width: 100%;
		max-width: none;
	    padding-top: 30px;
	    padding-left: 30px;
	}

	.fi__text-link {
		display: none;
	}

	.fi__text-link-820px {
		display: block;
		margin: 40px 0 0 30px;
		transition: color .1s linear;
	}

	.fi__text-link-820px:hover {
		color: red;
	}

	.subfooter-inner {
	    height: 40px;
	}
	
	}/* end media: 820px */

/* MEDIA 700px
=======================================*/
	@media (max-width: 701px) {

	/* Header */
	.nav_link {
	    margin-left: 15px;
	}

	.intro-suptitle {
	    font-size: 43px;
	    padding-top: 30px;
	}

	.intro-title {
	    font-size: 85px;
	    margin-top: 14px;
	}

	.intro_line {
	    margin-top: 30px;
	}

	.intro-buttom {
	    margin-top: 37px;
	}

	/* sau */
	.sau-text {
	    padding: 0 20px
	}

	/* amser */
	.amser__line {
	    display: none;
	}

	.amser__oneitem {
	    width: 50%;
	}

	/* what */
	.what__text {
		padding: 0 20px;
	    margin: 30px auto 0px;
	}

	/* quote */
	.quote-inner {
	    display: block;
	}

	.quote__img {
		margin: 0 auto 20px;
		min-width: 100px;
	    width: 100px;
	    height: 100px;
	}

	.quote__text {
	    font-size: 20px;
	}

	/* logos */
	.logos-inner {
	    padding: 0px;
	}

	.logos__img {
	    height: 100%;
	    margin: 20px 40px 20px;
	}

	/* testimon */
	.testimon-inner {
	    display: block;
	}

	.testimon__img {
		margin: 0 auto 8px;
		min-width: 150px;
	    width: 150px;
	    height: 150px;
	}

	.testimon__text {
	    font-size: 20px;
	}

	/* whatps */
	.whatps__item {
		display: flex;
    	justify-content: center;

	    width: 100%;
	    padding-left: 0%;
	    padding-bottom: 25px;
	}

	.wi__c-text {
	    max-width: 490px;
	}

	/* blog */
	.blog__item {
	    width: 100%;
	    align-items: center;
	}

	.bi__title {
	    font-size: 19px;
	    margin-top: 9px;
	}

	.bi__text {
	    text-align: center;
	    font-size: 18px;
	    height: auto;
	    margin-top: 11px;
	    padding: 0 10px 15px;
	}

	.bi__info {
	    justify-content: center;
	}
		
	}/* end media: 700px */

/* MEDIA 667px
=======================================*/
	@media (max-width: 667px) {

	/* header */
	.logo-text {
	    font-size: 25px;
	}

	.nav_link {
	    font-size: 12px;
	}

	/* intro */
	.intro-suptitle {
	    font-size: 40px;
	}

	.intro-title {
	    font-size: 80px;
	}

	.intro-buttom {
	    font-size: 11px;
	}

	/* sau */
	.sau-header__suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.sau-header__title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.sau-header__line {
	    margin-top: 17px;
	}

	.sau-text {
	    padding: 0 7px;
	    margin-top: 20px;
	}

	.pics__item {
    	margin-top: 20px;
	}

	/* rect */
	.rect-inner {
	    justify-content: space-around;
	    flex-wrap: wrap;
	    padding-bottom: 25px;
	}

	.rect__item {
	    width: 33.3333%;
	    border-right: none;

	    padding-top: 20px;
	    padding-bottom: 0px;
	}

	.rect__item:first-child {
	    border-left: none;
	}
	
	/* amser */
	.amser-header__suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.amser-header__title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.amser-header__line {
	    margin-top: 17px;
	}

	.amser__img {
	    width: 27px;
	    height: 26px;
	}

	.amser__text-h3 {
	    font-size: 13px;
	}

	.amser__text-p {
	    margin-top: 5px;
	}

	/* undes */
	.undes-header__suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.undes-header__title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.undes-header__line {
	    margin-top: 17px;
	}

	/* what */
	.what-header__suptitle {
		margin-top: 70px;
	    font-size: 21px;
	}

	.what-header__title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.what-header__line {
	    margin-top: 17px;
	}

	.what__text {
	    padding: 0 10px;
	    margin: 20px auto 0px;
	}

	.wc-items {
	    padding-top: 5px;
	}

	.what-inner {
	    padding-bottom: 25px;
	}

	/* quote */
	.quote__name {
	    font-size: 22px;
	}

	/* meet */
	.meet-header__suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.meet-header__title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.meet-header__line {
	    margin-top: 17px;
	}

	.meet-text {
	    padding: 0;
	    margin: 15px 0 0 0;
	}

	.meet-items {
	    margin-top: 15px;
	}

	.meet-about {
	    padding: 5px 0 20px 0;
	}

	/* works */
	.works__header-suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.works__header-title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.works__header-line {
	    margin-top: 17px;
	}
	
	.works__content {
	    margin-top: 25px;
	}

	/* testimon */	
	.testimon__text {
	    font-size: 18px;
	}

	.testimon__name {
	    font-size: 21px;
	}

	/* whatps */
	.whatps__header-suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.whatps__header-title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.whatps__header-line {
	    margin-top: 17px;
	}
	
	.whatps__content {
	    padding: 15px 0 10px;
	}

	/* blog */
	.blog__header-suptitle {
		margin-top: 20px;
	    font-size: 21px;
	}

	.blog__header-title {
		margin-top: 10px;
	    font-size: 26px;
	}

	.blog__header-line {
	    margin-top: 17px;
	}
	
	.blog__item {
	    padding-top: 25px;
	}

	.bi__title {
	    font-size: 15px;
	}

	.bi__text {
	    font-size: 14px;
	}

	/* openmap */
	.openmap-inner {
	    height: auto;
	    padding: 20px 0;
	}

	.openmap__title {
	    font-size: 21px;
	    margin-top: 7px;
	}

	.openmap__line {
	    margin-top: 15px;
	}

	/* footer */
	.footer__mogo {
	    width: 100%;
	}
		
	.fm__logo {
	    font-size: 35px;
	}

	.fm__text {
	    margin-top: 5px;
	}

	.fm__followers {
	    margin-top: 5px;
	}

	.fm__line {
	    margin-top: 5px;
	}

	.fm__followus {
	    margin-top: 10px;
	}

	.fm__subscribe {
	    margin-top: 15px;
	}

	.footer__blogs {
		width: 50%;
	    padding-left: 10px;
	}
	
	.footer__instagramm {
	    width: 50%;
	    padding-left: 20px;
	}
	
	}/* end media 667px */

/* MEDIA 600px
=======================================*/
	@media (max-width: 601px) {

	/* header */
	.nav_link {
		display: none;
	}

	.nav600px {
		display: block;
	}

	/* intro */
	.intro-suptitle {
	    font-size: 36px;
	}

	.intro-title {
	    font-size: 70px;
	}

	.intro-buttom {
	    padding: 8px 26px;
	}
	
	.slider_item {
		font-size: 14px;
	}

	/* whatps */
	.whatps__content {
	    padding: 15px 15px 10px;
	}

	/* testimon */
	.testimon__img {
	    width: 130px;
	    min-width: 130px;
	    height: 130px;
	}

	/* footer */
	.footer__blogs {
	    width: 100%;
	}
	
	.fb__title {
	    margin-bottom: 0px;
	}

	.fb__item {
	    margin-top: 10px;
	}

	.footer__instagramm {
	    width: 100%;
	    padding-top: 20px;
	    padding-left: 15px;
	}

	.fi__title {
	    margin-bottom: 0;
	}

	.fi__photobox {
	    margin-top: 10px;
	}

	.fi__text-link-820px {
	    margin: 30px 0 0 20px;
        font-size: 15px;
	}



















	}/* end media 667px */

/* MEDIA 471px
=======================================*/
	@media (max-width: 471px) {

	/* header */
	.header-inner {
	    padding: 15px 10px 0;
	}

	/* intro */
	.intro__header {
	    padding-top: 55px;
	}

	.intro-suptitle {
	    font-size: 30px;
	    padding-top: 20px;
	}

	.intro-title {
	    font-size: 60px;
	}

	.intro_line {
	    margin-top: 20px;
	}

	.intro-buttom {
	    margin-top: 25px;
	}

	.slider_item {
	    font-size: 11px;
	}

	.slider_num {
	    font-size: 18px;
	}

	/* rect */
	.rect__num {
	    font-size: 50px;
	}
	
	.rect__text {
	    font-size: 13px;
	}

	/* amser */
	.amser__oneitem {
	    width: 100%;
	}

	/* what */
	.accord__content {
		font-size: 14px;
		padding: 10px 20px;
	}

	/* quote */
	.quote__img {
	    margin: 8px auto;
	    min-width: 70px;
	    width: 70px;
	    height: 70px;
	}

	.quote__img img {
	    display: block;
	    width: 100%;
	}

	.quote__text {
	    font-size: 14px;
	}

	.quote__name {
	    font-size: 20px;
	}

	/* testimon */
	.testimon__img {
	    width: 110px;
	    min-width: 110px;
	    height: 110px;
	}

	.testimon__text {
	    font-size: 14px;
	}

	.testimon__name {
	    font-size: 18px;
	}

	.logos__img {
	    margin: 10px 2px 5px;
	}

	}/* end media 470px */

/* MEDIA 381px
=======================================*/
	@media (max-width: 381px) {
	
	/* intro */
	.intro-title {
	    font-size: 50px;
	}

	.intro_line {
	    height: 2px;
	}

	/* sau */
	.sau-header__suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.sau-header__title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.sau-header__line {
	    margin-top: 12px;
	    height: 2px;
	}

	.sau-text {
	    font-size: 13px;
	}

	.sau-pics {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.pics__img img {
		max-width: 380px;
	    width: 100%;
	}
	.users__name {
	    font-size: 13px;
	}

	/* amser */
	.amser-header__suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.amser-header__title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.amser-header__line {
	    margin-top: 12px;
	    height: 2px;
	}

	.amser__text-p {
	    font-size: 13px;
	}

	/* undes */
	.undes-header__suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.undes-header__title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.undes-header__line {
	    margin-top: 12px;
	    height: 2px;
	}

	/* what */
	.what-header__suptitle {
	    margin-top: 45px;
	    font-size: 16px;
	}

	.what-header__title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.what-header__line {
	    margin-top: 12px;
	    height: 2px;
	}
	
	.what__text {
    	font-size: 13px;
	}

	.accord__header-text {
		font-size: 13px;
	}

	/* quote */
	.quote__img {
	    min-width: 60px;
	    width: 60px;
	    height: 60px;
	}

	.quote__name {
	    font-size: 15px;
	}

	.quote__line {
	    width: 40px;
	    height: 2px;
	}

	/* meet */
	.meet-header__suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.meet-header__title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.meet-header__line {
	    margin-top: 12px;
	    height: 2px;
	}
	
	.meet-text {
		font-size: 13px;
	}

	/* logos */
	.logos-inner {
	    padding: 10px 10px;
	}

	.logos__img {
	    margin: 10px 3px 5px;
	}

	/* works */
	.works__header-suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.works__header-title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.works__header-line {
	    margin-top: 12px;
	    height: 2px;
	}

	.works__col {
	    width: 100%;
	}

	/* testimon */
	.testimon__img {
	    width: 70px;
	    min-width: 70px;
	    height: 70px;
	}

	.testimon__text {
	    max-width: 260px;
	}

	.testimon__name {
	    font-size: 15px;
	}

	.testimon__line {
	    width: 40px;
	    height: 2px;
	}

	/* whatps */
	.whatps__header-suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.whatps__header-title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.whatps__header-line {
	    margin-top: 12px;
	    height: 2px;
	}

	.whatps__item {
	    padding-bottom: 10px;
	}

	.wi__c-text {
	    font-size: 13px;
	}

	.wi__c-title {
	    margin-top: 10px;
	}

	.wi__c-subtitle {
	    margin-top: 5px;
	}

	.wi__c-line {
	    margin-top: 9px;
	    height: 2px;
	}

	/* blog */
	.blog__header-suptitle {
	    margin-top: 15px;
	    font-size: 16px;
	}

	.blog__header-title {
	    margin-top: 6px;
	    font-size: 20px;
	}

	.blog__header-line {
	    margin-top: 12px;
	    height: 2px;
	}

	.blog__content {
	    padding: 0 20px 20px;
	}
		
		.bi__title {
	    font-size: 12px;
	}

	.bi__text {
	    font-size: 13px;
	}

	.bi__i-num {
	    font-size: 13px;
	    margin-left: 4px;
	}

	/* openmap*/
	.openmap__title {
	    font-size: 16px;
	    margin-top: 5px;
	}

	.openmap-inner {
	    padding: 10px 0;
	}

	.openmap__line {
	    height: 2px;
	}

	/* footer */
	.fm__text {
	    font-size: 13px;
	}
		
	.fm__logo {
	    font-size: 27px;
	}

	.footer__mogo {
	    padding: 10px 10px 0;
	}
		
	.fm__followers-span {
	    font-size: 15px;
	}

	.fm__followers {
	    font-size: 13px;
	}

	.fm__followus {
	    display: flex;
	    justify-content: space-between;
	}
	
	.fm__social {
	    margin-left: 0;
	    width: 70%;
	    display: flex;
	    justify-content: space-between;
	}

	.fm__social-link {
    	margin-left: auto;
    }
	
	.fm__form {
	    display: flex;
	    justify-content: center;
	}
	
	}/* end media 380px */

/* MEDIA 351px
=======================================*/
	@media (max-width: 351px) {
	
	/* header */
	.header-inner {
 	   padding: 10px 10px 0;
	}

	.logo-text {
 	   font-size: 20px;
	}

	.header-nav600px_link-icon {
	    width: 25px;
	}

	/* intro */
	.intro-suptitle {
	    font-size: 23px;
	    padding-top: 15px;
	}

	.intro-title {
	    font-size: 40px;
	}

	.intro-buttom {
		border: 2px #fff solid;
	    font-size: 8px;
	}

	.slider_item {
    	border-top: 2px #fff solid;
    	font-size: 9px;
    	padding-top: 1px;
	}

	.slider_item.active:before {
	    height: 2px;
	    top: -2px;
	}
	
	.slider_num {
	    font-size: 13px;
	}

	/* sau */
	.pics__img img {
	    width: 100%;
	    max-width: 380px;
	}

	/* rect */
	.rect__num {
	    font-size: 45px;
	}
	
	.rect__text {
	    font-size: 11px;
	}

	/* quote */
	.quote__img {
	    margin: 5px auto;
	    min-width: 50px;
	    width: 50px;
	    height: 50px;
	}

	.quote__text {
	    font-size: 10px;
	}

	/* testimon */
	.testimon__img {
	    width: 60px;
	    min-width: 60px;
	    height: 60px;
	}

	.logos__img {
	    margin: 10px 0px 5px;
	}

	/* whatps */
	.wi__c-text {
	    font-size: 11px;
	}

	/* blog */
	.bi__text {
	    font-size: 11px;
	}
		
	.bi__title {
	    font-size: 11px;
	    margin-top: 6px;
	}
		
	.bi__text {
	    margin-top: 6px;
	    padding: 0 10px 10px;
	}

	/* footer */
	.sfi__text {
	    font-size: 10px;
	}
	
	}/* end media 321px */ 
