@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #6c7279;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
  border-bottom: 1px solid #505268;
}
.header-inner__link {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-left: 58px;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.header-inner__link:first-child {
  margin-left: 0;
}
.header-inner__link:hover {
  text-decoration: none;
  opacity: 1;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.empty-space {
  height: 700px;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.intro {
  height: 750px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("../img/intro/intro-bg.jpg") #30324b center/cover no-repeat;
}

.intro-inner__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  max-width: 970px;
}
.intro-inner__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  margin-top: 42px;
  max-width: 970px;
}
.intro-inner__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 77px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.intro-inner__link_red {
  background-color: #e84545;
  padding: 19px 48px;
  transition: background-color 0.1s linear;
}
.intro-inner__link_red:hover {
  background-color: #be3434;
  text-decoration: none;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 43px 0 123px;
}
.features__item {
  width: 33.333%;
  padding: 73px 40px 0;
  text-align: center;
}
.features__title {
  margin-top: 34px;
  font-family: "$f", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}
.features__text {
  margin-top: 27px;
  font-family: "$f", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}