*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: #ffffff;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}


/* Container
=======================*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}


/* Header
===============================*/
.header {
    background: #31354f url(img/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.header-inner {
    position: relative;
}

.header-logonav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #50536a solid;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    padding: 38px 20px;
    height: 100px;
    width: 100%;
}

.nav {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.nav_link {
    margin-left: 30px;

    font-size: 13px;
    font-family: Raleway;
    font-style: bold;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    opacity: .75;
    transition: opacity .1s linear;
}

.nav_link:hover {
    opacity: 1;
}

.burger {
    display: none;
    background: none;
    border: 0;
    padding: 10px 2px;
    cursor: pointer;

}

.burger_item {
    display: block;

    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0px;
    color: transparent;

    position: relative;

}

.burger_item:before,
.burger_item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;

    left: 0;
    z-index: 1;
}

.burger_item:before {
    top: -8px;
}

.burger_item:after {
    bottom: -8px;
}

/* Intro
===============================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 100px;

    height: 650px;
}

.intro_title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'open sans', sans-serif;
    font-style: 700;
    font-size: 65px;
    line-height: 1.2;
    max-width: 870px;

}

.intro_subtitle {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;

}

.button {
    background: #d73232;

    padding: 20px 55px;
    margin-top: 77px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 2px;
    cursor: pointer;

    transition: background .1s linear;
}

.button:hover {
    background-color: #C41200;
}


/* Features
=================================*/
.features {

}

.inner-features {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #fff;

    padding-top: 70px;
    padding-bottom: 50px;

    width: 100%;
    height: 690px;
}

.features_item {

    width: 33.33333%;
    height: 200px;
    text-align: center;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: #000;
}

.features_img {

}

.features_title {
    margin-top: 30px;

    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}

.features_textbox {
    margin-top: 27px;

    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}


/* Works
================================*/
.works {
    min-height: 700px;

    display: flex;
    flex-wrap: wrap;

}

.works-item {
    border: #fff 1px solid;
    border-right: #fff 1px solid;

    width: 25%;
    height: 350px;

    position: relative;
    overflow: hidden;

}

.works-item:hover .works-item_active {
    opacity: 1;
}

.works_img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

}

.works-item_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: rgba(232, 69, 69, .9);

    opacity: 0;
    transition: opacity .2s linear;
}

.works_title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.works_text {
    margin: 15px 0 0 0;

    color: #fff;
    font-size: 14px;
    font-weight: 400;
}


/* Our Team
===============================*/
.ourteam {
    width: 100%;
    height: 780px;
}

.ourteam-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ourteam-item {
    width: 25%;
    padding-right: 2px;


}

.ourteam_img-box {
    max-width: 270px;
    height: 270px;
    margin-top: 100px;
    width: .ourteam_img-width;
    position: relative;
}

.ourteam_img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.ourteam_title {
    margin-top: 30px;
    color: #2d3033;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.ourteam_subtitle {
    margin-top: 9px;
    color: #e84545;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

.ourteam_text {
    margin-top: 30px;
    padding-right: 20px;
    color: #6c7279;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 14px;
}


/* Social
===============================*/
.social {
    display: flex;
    margin-top: 40px;

}

.social_item {
    background-color: #fff;

    width: 40px;
    height: 40px;
    border: #e8ecee 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;

    transition: background-color .1s linear;
}

.social_icon {
    fill: #c6cacc;
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .1s linear;
}

.social_item:hover {
    background: #c6cacc;
}

.social_item:hover .social_icon {
    fill: #000;
}



/* Reviews
===============================*/
.reviews {
    display: flex;
    flex-wrap: wrap;
    background: #53354a;
    overflow: hidden;
}

.reviews_item {
    display: flex;
    flex-wrap: wrap;
}

.reviews_photo {
    display: flex;
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_content {
    width: 50%;
    padding-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_text {
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 30px;
}

.reviews_author {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0px;
    margin-right: auto;
}


/* Download
=============================*/
.download {
    width: 100%;
    height: auto;
}

.download-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.download-title {
    margin-top: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #000;
}

.download-subtitle {
    margin-top: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
}

.download-button {
    padding: 16px 85px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.download-button_link {
    border-radius: 2px;

    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    padding: 16px 85px;
    background: #e84545;

    transition: background .1s linear;
}

.download-button_link:hover {
    background: #ca2c2c;
}


/* Footer
==============================*/
.footers1 {
    background: #3a3e64;

}

.footers-inner {
    display: flex;

}

.footers_location {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;

    width: 33.33333%;
    height: 100%;
    height: 250px;

    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;

}

.footers_location_p {
    width: 180px;
    margin-top: 20px;

    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #9d9fb2;

    text-transform: uppercase;
}

.footers_social {
    width: 33.33333%;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;
}

/* Footers-social
--------------------------*/
.footers-social {
    display: flex;
    justify-content: space-between;
    width: 130px;

}

.footers-social_item {
    background-color: #3a3e64;

    width: 40px;
    height: 40px;
    border: #fff 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .1s linear;
}

.footers-social_icon {
    fill: #fff;
    display: block;
    height: 18px;
    transition: fill .1s linear;
}

.footers-social_item:hover {
    background: #fff;
}

.footers-social_item:hover .footers-social_icon {
    fill: #000;
}

.footers_social_h {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    text-transform: uppercase;
}

.footers_about {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;

    width: 33.33333%;
    height: 100%;
    height: 250px;
}

.footers_about_title {
    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    text-transform: uppercase;
}

.footers_about_text {
    margin-top: 20px;

    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #9d9fb2;
}

.footers2 {
    background: #313454;
    width: 100%;

}

.footers2-inner {
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.footers2-inner_text {
    margin-top: 22px;
    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #9d9fb2;

    width: 315px;
}

.footers2-inner_text-heart {
    color: #e84545;
}


/* Media
===============================*/
/* 1300px
-----------------------------*/
@media (max-width: 1300px) {
    .works {
        height: auto;
    }

    .works-item {
        width: 50%;
    }
}

/* 991px
-----------------------------*/
@media (max-width: 991px) {

    /* Intro */
    .intro {
        height: 530px;
    }

    .intro_title {
        font-size: 55px;
    }

    .intro_subtitle {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav {
        display: none;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Features */
    .inner-features {
        height: auto;
    }

    .features_item {
        width: 50%;
    }

    /* Out Team */
    .ourteam {
        height: auto;
        margin-bottom: 60px;
    }

    .ourteam-item {
        width: 50%;
        padding-right: 0;
        text-align: center;
    }

    .ourteam_img-box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .ourteam_title {
        margin: 20px auto 0 auto;
    }

    .ourteam_subtitle {
        margin: 10px auto 0 auto;
    }

    .ourteam_text {
        margin: 20px auto 0 auto;
        padding-right: 10px;
        padding-left: 10px;

    }

    .social {
        justify-content: center;
        margin-top: 30px;
    }

    /* Reviews */
    .reviews {

    }

    .reviews_item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reviews_photo {
        width: 100%;
        margin-top: 15px;
        overflow: hidden;

    }

    .reviews_content {
        width: 100%;
        padding: 40px 15px;
    }

    .reviews_img {

    }

    .reviews_text {

    }

    .reviews_author {

    }

}

/* 768px
-------------------------------*/
@media (max-width: 768px) {

    /* Header */
    .header-inner {
        height: auto;
    }

    /* Intro */
    .intro {
        height: auto;
        padding-top: 140px;
        padding-bottom:50px;
    }

    .intro_title {
        font-size: 45px;

    }

    .intro_subtitle {
        font-size: 20px;
        margin-top: 20px;
    }

    .button {
        margin-top: 50px;
    }

    .nav {
        display: none;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Features */
    .features_item {
        width: 50%;
    }



}

/* 660px
------------------------------*/
@media (max-width: 660px) {

    /* Intro */
    .intro_title {
        font-size: 35px;
    }
    .intro_subtitle {
        font-size: 16px;
    }
    .button {
        font-size: 15px;
        padding: 15px 50px;
    }

    /* Features */
    .features_item {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }

    /* Works */
    .works-item {
        width: 100%;
    }

    /* Out Team */
    .ourteam-item {
        width: 100%;
    }
    .ourteam_title {
        margin-top: 20px;
    }
    .ourteam_text {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }
    .social {
        margin-top: 20px;
    }
    /* Reviews */
    .reviews_img {
        height: 100%;
    }

    /* Download */
    .download-inner {
        padding: 0px 20px;
    }

    .download-title {
        text-align: center;
        margin-top: 50px;
    }

    .download-subtitle {
        text-align: center;
    }

    .download-button {
    padding: 15px 0px;
    }

}

/* 480px
------------------------------*/
@media (max-width: 480px) {

    /* Intro */
    .intro_title {
        font-size: 28px;
    }

    /* Footer1 */
    .footers-inner {
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .footers_location {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 25px;
        height: auto;
    }

    .footers_social {
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .footers_about {
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .footers_about_text {
        padding-right: 5px;
        padding-left: 5px;
    }
}

/* 430px
------------------------------*/
@media (max-width: 430px) {
    .reviews_photo {
         height: 290px;
    }
}


/* 380px
------------------------------*/
@media (max-width: 380px) {

    /* Intro */
    .intro_title {
        font-size: 22px;
    }

    .button {
        font-size: 12px;
        padding: 10px 40px;
    }

    /* Works */
    .works-item {
        height: 300px;
    }

    /* Out Team */
    .ourteam_text {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* Reviews */
    .reviews_img {

    }

    .reviews_photo {
        height: 200px;
    }

    /* Download */
    .download-button {
        margin-bottom: 40px;
    }

    .download-button_link {
        padding: 15px 35px;
    }

}

@media (max-width: 320px) {

    /* Features */
    .inner-features {
        padding-top: 10px;
        padding-bottom: 30px;
    }
}








































