.container {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
}

.title {
  text-align: center;
}

.bg {
  background-color: #23be1e4b;
}

.bg2 {
  background-color: rgba(204, 122, 167, 0.623);
}
